@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Radley:ital@0;1&display=swap');
:root {
  --head-font: "Racing Sans One", sans-serif;
  --body-font: "Radley", serif;

  --primary-color: #a8dadc;
  --secondary-color: #457b9d;
  --accent-color: #e63946;
  --light-color: #f1faee;
  --dark-color: #1d3557;

  --main-text-color: black;
  --secondary-text-color: white;
}

body {
  font-family: var(--body-font);
}

header h1{
  background-color: var(--primary-color);
  font-family: var(--head-font);
  color: var(--dark-color);
  margin: 0;
  padding: 50px;
  text-align: left;
}

#pages h1 {
  text-align: center;
}

header .navigation {
  margin: 0;  
}

header img {
  position: absolute;
  top: 6%;
  left: 75%;
  width: 60px;
  height: auto;
}

/*********Nav***********/
#menu {
  position: absolute;
  top: 0;
  margin: 15px;
  color: var(--dark-color);
}

#menu::before {
  font-size: 2rem;
  content: "☰";
}

#menu.open::before {
  font-size: 2rem;
  content: "🆇";
}

.navigation {
  flex-direction: column;
  font-size: 1.5rem;
  list-style: none;
  background-color: var(--secondary-color);
  color: var(--dark-color);
  font-family: var(--head-font);
}
.navigation li {
  display: none;
}

.navigation li a {
  display: block;
  padding: 1rem;
  text-decoration: none;
}

.navigation li a:hover {
  text-decoration: underline;
}

.open li {
  display: flex;
  width: 100%;
}
.open li a {
  display: flex;
  color: var(--light-color);
}

/* Main Section */

/* Hero Section */

/* Banner Section */

#announcementBanner {
  background-color: var(--light-color);
  border: 6px solid var(--secondary-color);
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  margin: 20px 0;
  padding: 15px 0;
}

#announcementBanner h2 {
  color: var(--main-text-color);
  font-size: 1.8rem;
  margin: 10px;
  font-family: var(--head-font);
  text-align: left;
  border-bottom: 1px solid var(--main-text-color);
}


.announcementContent figure img {
  width: 150px;
  height: auto;
}

.close-button {
  font-family: var(--head-font);
  background-color: var(--secondary-color);
  color: var(--main-text--color);
  box-shadow: 3px 3px 2px var(--dark-color);
  border: none;
  font-size: 1.3rem;
  margin: 0 20%;
  padding: 5px;
}

.close-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Call To Action */

.hero {
  position: relative;
}

.hero img {
  width: 100%;
  height: auto;
  margin: 20px 0 ;
}

.hero-content1 {
  position: relative;
  background-color: var(--primary-color);
  border: 4px solid var(--secondary-color);
  padding: 10px 20px;
  text-align: center;
  padding: 30px;
}

.hero-content1 h2 {
  font-family: var(--head-font);
  color: var(--dark-color);
  font-size: 2rem;
}

.hero-content1 p {
  color: var(--main-text-color);
  font-size: 1.3rem;
  padding: 0 20px;
}

.hero-content1 a {
  text-decoration: none;
  background-color: var(--secondary-color);
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 1rem;
  padding: 8px;
  box-shadow: 2px 2px 1px 1px var(--dark-color);
}

.hero-content1 a:hover {
  text-decoration: underline;
}

/* *********Summary And Weather Section************ */

/* Summary******* */
.summary p {
  font-size: 1.2rem;
  margin: 10px;
}

/* Weather************ */
#weather {
  text-align: center;
  margin: 15px 0;
}

#weather h1 {
  color: var(--main-text-color);
  border-bottom: 1px solid var(--main-text-color);
  text-align: left;
}

#weather figure img {
  width: 150px;
  height: auto;
}

#weather h4 {
  font-size: 1.2rem;
}

/* Footer */

footer {
  background-color: var(--dark-color);
  color: var(--light-color);
  text-align: center;
}

.footer-title {
  color: var(--light-color);
  font-family: var(--head-font);
  font-size: 1.2rem;
  border-bottom: 1px solid var(--light-color);
  padding-left: 15px;
  padding-top: 5px;
}

.contact {
  font-size: 0.8rem;
}

.contact h3 {
  font-size: 1rem;
  font-family: var(--head-font);
}

.contact a {
  text-decoration: none;
  color: var(--light-color);
}

.contact a:hover {
  text-decoration: underline;
}

.legal {
  color: var(--primary-color);
  text-align: center;
  font-size: 0.8rem;
  padding-bottom: 10px;
}

/* CONTACT PAGE  */

.contact-page {
  display: grid;
  grid-template-columns: 1fr;
  font-family: var(--head-font);
  color: var(--main-text-color-color);
  margin-top: 20px;
}

.form-section {
  padding: 20px;
  border: 2px solid;
  text-align: center;
}

.form-section fieldset {
  border: none;
  border-radius: 10px;
  padding: 0.5rem 5%;
}

.form-section legend {
  font-size: 1.7rem;
  padding: 5px;
}

.form-section label {
  display: block;
  padding-top: 20px;
  font-size: 1.5rem;
  text-align: left;
}

.form-section input {
  font-family: var(--body-font);
  padding: 3px;
}

.submitbtn {
  border: none;
  background-color: var(--dark-color);
  color: var(--light-color);
  font-size: 1.2rem;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  font-family: var(--head-font);
}
.submitbtn:hover {
  font-size: 1.3rem;
  cursor: pointer;
}
input:required {
  border-left: var(--accent-color) solid 8px;
}
input:required:valid {
  border-left: green solid 8px;
}

.contactInfo {
  text-align: center;
  margin-top: 10px;
}

.contactInfo h3 {
  font-family: var(--head-font);
  font-size: 1.7rem;
  margin-top: 0;
  border-bottom: 1px solid;
  text-align: left;
}

.contactInfo p {
  font-size: 1.3rem;
  font-family: var(--body-font);
  text-align: left;
  padding-left: 15px;
}

#location h3 {
  text-align: center;
  font-size: 1.7rem;
  text-align: left;
  font-family: var(--head-font);
  color: var(--main-text-color);
  border-bottom: 1px solid;
}

.map1 {
  display: flex;
  border: 1px solid var(--dark-color);
  margin-bottom: 10px;
}

.map1 iframe {
  width: 100%;
  height: 450px;
}

.map2 {
  display: flex;
  border: 1px solid var(--dark-color);
  margin-bottom: 10px;
}

.map2 iframe {
  width: 100%;
  height: 450px;
}

/* ********** Thank You******** */
#thanks {
  margin-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thanks {
  text-align: center;
  max-width: 700px;
  background-color: var(--primary-color);
  color: var(--accent2-color);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 20px var(--accent1-color);
}

h1 {
    font-family: var(--head-font);
    text-align: center;
    color: var(--dark-color);
}

.thanks p {
    text-align: center;
    color: var(--main-text-color);
    margin-bottom: 30px;
}

.homeBtn {
    background-color: var(--secondary-color);
    color: var(--dark-color);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.1rem;
    box-shadow: 2px 2px 3px 2px;
}
  
.homeBtn:hover {
    font-size: 1.2rem;
}

/* ******Reservations******** */

.form-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  margin: 20px 0;
}

.reservation-form {
  padding: 5px;
  border: 2px solid var(--dark-color);

}

.reservation-form fieldset {
  padding: 15px 5%;
  text-align: left;
  border: none;
}

.reservation-form legend {
  color: var(--main-text-color-color);
  font-family: var(--head-font);
  font-size: 1.7rem;
}

.reservation-form label {
  display: block;
  padding: 8px 0;
  font-family: var(--head-font);
  font-size: 1.3rem;
  color: var(--main-text-color-color);
}

.reservation-form input {
  padding: 3px;
  padding: 2px;
}

.reservation-form button {
  padding: 20px;
}

.terms {
  margin-bottom: 5px;
}

.terms h2 {
  font-family: var(--head-font);
  color: var(--main-text-color-color);
  border-bottom: 1px solid;
  padding: 20px 0;
  padding: 0;
}

.terms ul {
  text-align: left;
  color: var(--main-text-color-color);
  font-size: 1.1rem;
}

/* *********Reserved******* */


/* ******Rental Page******* */

.rentalInfo h2 {
  font-family: var(--head-font);
  border-bottom: 1px solid var(--main-text-color);
  font-size: 1.5rem;
}

.rentalInfo ul strong{
  font-size: 1.3rem;
  font-family: var(--head-font);
}

.rentalInfo ul {
  font-size: 1.3rem;
  padding: 10px 0;
  list-style: none;
  margin-left: 8%;
}

.rentalInfo ul li img {
  width: 300px;
  height: auto;
  padding: 10px 0;
}

table {
  padding: 10px 0;
  border: thin solid var(--dark-color);
  box-shadow: 0 0 10px var(--dark-color);
  border-collapse: collapse;
}

caption {
  caption-side: bottom;
  color: var(--dark-color);
  font-size: 1rem;
  padding: 10px;
}

tr:first-child th {
background-color: var(--primary-color);
color: var(--dark-color);
padding: 20px 0;
font-family: var(--head-font);
font-size: 1.7rem;
}

tr:nth-child(2) th:first-child {
  background-color: #fff;
}

th, td {
border: 1px solid var(--dark-color);
font-family: var(--body-font);
}

th {
background-color: var(--secondary-color);
color: var(--light-color);
font-size: larger;
}

td {
text-align: center;
}

.rentalAgreement h2{
  padding: 20px;
  border-bottom: 1px solid var(--main-text-color);
  font-family: var(--head-font);
  font-size: 1.7rem;
}

.rentalAgreement ul li{
  font-size: 1.3rem;
  padding: 5px 0;
}