
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chango&family=Diplomata+SC&family=Faculty+Glyphic&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Langar&family=Limelight&family=Lora:ital,wght@0,400..700;1,400..700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');/* CSS Style Sheet for chamber-site-plan.html for wdd 230 vern wolfley*/

:root {
    --primary-color: #414535;
    --secondary-color:  #618985;
    --accent1-color: #96bbbb;
    --accent2-color: #c19875;
    --accent3-color: #f2e3bc;
    --text-color-main: black;
    --text-color-secondary: white;

    --heading-font: "Chango", sans-serif;
    --paragraph-font: "Newsreader", serif;

    --headline-color-on-white: var(--primary-color); 
    --headline-color-on-color: var(--text-color-secondary); 
    --paragraph-color-on-white: var(--text-color-main); 
    --paragraph-color-on-color: var(--text-color-main); 
    --paragraph-background-color: var(--accent1-color);
    --nav-link-color: var(--text-color-secondary);
    --nav-background-color: var(--primary-color);
    --nav-hover-link-color: var(--text-color-main);
    --nav-hover-background-color: var(--accent2-color);
}

/*  Styles for site */
html,
body {
    font-size: 18px;
    font-family: var(--paragraph-font);
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
}

img {
    display: block;
    margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-weight: 700;
    font-style: normal;
    color: var(--headline-color-on-white);
}

h2 {
    text-align: center;
}
hr {
    height: 3px;
    margin: 35px 0;
    background: var(--secondary-color);
}

header {
    padding: 1em;
    text-align: center;
    color: var(--headline-color-on-color);
    background-color: var(--primary-color);
}
header > h1,
header > h2 {
    color: var(--headline-color-on-color);
}

p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    padding: .25em 1.25em;
    margin: .25em 1em;
}

ul {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
}

main {
    display: flex;
    flex-direction: column;
    padding: 1em;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
}

.colors th {
    background-color: #999;
    padding: 10px;
    text-align: center;
}
.colors td {
    padding: 10px;
    text-align: center;
    /* width: 25%;
  height: 3em; */
}

.primary {
    background-color: var(--primary-color);
    color: var(--text-color-secondary);
}
.secondary {
    background-color: var(--secondary-color);
    color: var(--text-color-secondary);
}
.accent1 {
    background-color: var(--accent1-color);
    color: var(--text-color-secondary);
}
.accent2 {
    background-color: var(--accent2-color);
    color: var(--text-color-secondary);
}
.accent3 {
    background-color: var(--accent3-color);
    color: var(--text-color-secondary);
}
