@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chango&family=Diplomata+SC&family=Faculty+Glyphic&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Langar&family=Limelight&family=Lora:ital,wght@0,400..700;1,400..700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');/* CSS Style Sheet for chamber-site-plan.html for wdd 230 vern wolfley*/

:root{
    --primary-color: #ce796b;
    --secondary-color: #c18c5d;
    --accent1-color: #e7ad99;
    --accent2-color: #003049;
    --accent3-color: #ecc8af;

    --main-text-color: black;
    --secondary-text-color: white;

    --heading-font: "Chango", sans-serif;
    --paragraph-font: "Newsreader", serif;
}

body {
    font-family: var(--paragraph-font);
    background-color: white;
}

#dark {
	position: absolute;
	top: 1rem;
	right: 3rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}

#headerpicture {
    border-radius: 50px;
    height: 100px;
    width: 100px;
}

header {
    text-align: center;
    font-family: var(--heading-font);
}

#headertitle {
    color: var(--accent2-color);
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);

}


/* Navigation and hambutton */

#menu {
	font-size: 1.5rem;
	border: 0;
	color: var(--accent3-color);
	position: absolute;
	top: 1rem;
	right: 1rem;
    background: none;
}
    
#menu::before {
    font-size: 2rem;
	content: "☰";
}

#menu.open::before {
    font-size: 2rem;
	content: "🅧";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-family: var(--heading-font);
    font-size: 1.7rem;
    margin: 0;
    padding: 10px;
    background-color: var(--accent2-color);
}

.navigation li {
    display: none;
}

.navigation li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
}

.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

nav a {
    color: var(--accent3-color);
    text-decoration: none;
}

nav a:hover {
    color: var(--accent2-color);
    background-color: var(--accent1-color);
    border-radius: 10px;
}

/*************Main section***********/
main {
    margin: 0;
    padding: 20px;
}

/* Hero Section*/
.temp-hero img{
    width: 100%;
    height: auto;
}

.hero {
    padding: 20px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 15px;
    border-radius: 10px;

}

.hero-content h2 {
    color: var(--accent2-color);
    font-size: 1.5rem;
    font-family: var(--heading-font);
    text-align: center;
}

.hero-content p {
    text-align: center;
    color: var(--accent2-color);
    font-size: 1.3rem;
    
}

.hero-content a {
    background-color: var(--accent2-color);
    font-family: var(--heading-font);
    color: var(--accent1-color);
    margin: 0;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 5px;
}

.hero-content a:hover {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

/* Card secition */
.cards {
    gap: 10px;
}

.card {
    margin: 10px;
    padding: 5px;
    border: 1px solid var(--accent2-color);
    border-radius: 10px;
    box-shadow: 3px 3px 5px #666;

}

.card-header {
    display: flex;
    font-family: var(--heading-font);
    background-color: var(--primary-color);
    color: var(--accent2-color);
    font-size: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid var(--accent2-color);
}


/* *** Footer ************************************ */
footer {
    background-color: var(--accent2-color);
    color: var(--text-color-secondary);
    padding: 10px;
}

.footer-title {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    font-family: var(--heading-font);
    text-align: center;

}

.contact {
    text-align: center;
    color: var(--primary-color);
}

.contact a {
    text-decoration: none;
    color: var(--primary-color);
}

.contact a:hover {
    color: var(--secondary-color);
    font-size: 1.3rem;
}

.legal {
    color: var(--accent3-color);
    text-align: center;
}

#lastModified {
    text-align: center;
    color: var(--secondary-color);
}

/******** Discover Mobile Views ********/
.hero-content h4 {
    font-size: 1.5rem;
    color: var(--text-color-main);
}

.wrapper {
    flex-direction: column;
    grid-template-columns: 1fr;
    padding: 50px 0;
}

.picture {
    align-items: center;
    padding: 10px;
}

.picture img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.picture figcaption {
    font-size: 0.8em;
    font-style: italic;
    color: black;
}

.style1 {
    background-color: var(--accent1-color);
    color: var(--main-text-color);
    padding: 20px;
}

.style2 {
    background-color: var(--accent3-color);
    color: var(--main-text-color);
    padding: 20px;
}

.style3 {
    background-color: var(--accent2-color);
    color: var(--secondary-text-color);
    padding: 20px;
}

.style3 .explore-img {
    width: 88%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
    align-items: center;
    gap: 5px;
}

.style4 {
    background-color: var(--secondary-color);
    color: var(--main-text-color);
    padding: 20px;
}
.style5 {
    background-color: #f8fafc;
    color: var(--main-text-color);
    padding: 20px;
}
.fun-facts {
    color: var(--accent4-color);
}

.facts {
    display: flex;
    flex-direction: column;
}

.facts h4 {
    font-size: 1rem;
}

.event-card-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.event-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 8px 0 darkgray;
    background-color: #ffffff;
}
.event-card h3 {
    margin: 0 0 5px 0;
}
.event-card p {
    font-size: 0.7em;
    margin: 0;
}

/**********JOIN MOBILE CSS**************/
.form-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}
.form-section {
    justify-content: center;
    font-family: var(--paragraph-font);
    margin: 50px auto;
    width: 100%;
    max-width: 500px;
}
.form-section fieldset {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    margin: 20px auto;
    padding: 0.5rem 5%;
}
.form-section legend {
    color: var(--accent2-color);
    font-family: var(--heading-font);
    font-size: 1.3rem;
    margin: 0 1rem;
    padding: 0 0.5rem;
}
.form-section label {
    display: block;
    padding-top: 1rem;
    font-family: var(--heading-font);
    font-size: 1rem;
}

.form-section input {
    font-family: var(--paragraph-font);
    padding: 2px;
}

.submitbtn {
    border: none;
    background-color: var(--accent1-color);
    font-family: var(--heading-font);
    color: var(--accent2-color);
    font-size: 1.2rem;
    padding: 0.75rem 1.5rem;
    border-radius: 1rem;
    margin: 10px 0 2rem 2%;
}
.submitbtn:hover {
    background-color: var(--accent3-color);
    color: var(--accent2-color);
    font-family: var(--heading-font);
    cursor: pointer;
}
input:required {
    border-left: var(--accent1-color) solid 8px;
}
input:required:valid {
    border-left: var(--accent2-color) solid 8px;
}
.memberships {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
}
.memberships h2 {
    font-family: var(--heading-font);
    font-size: 2rem;
    color: var(--primary-color);
    text-align: center;
}
.membership-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.membership {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 var(--accent2-color);
    border: solid 1px var(--accent2-color);
    border-radius: 5px;
}
.membership h3 {
    text-align: center;
    font-family: var(--heading-font);
    font-size: 1.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
}
.membership strong {
    font-family: var(--heading-font);
}
.membership div {
    padding: 0.75rem;
}
.membership p {
    margin: 0.75rem;
}
.np {
    background-color: var(--accent3-color);
}
.bronze {
    background-color: var(--accent1-color);
}
.silver {
    background-color: var(--primary-color);
}
.gold {
    background-color: var(--secondary-color);
}

/*----------- Thankyou.html - Form conformation page --------------*/

.thanks-container {
    justify-content: center;
    text-align: center;
    max-width: 700px;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    margin: 200px auto;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 20px var(--accent1-color);
}

h1 {
    font-family: var(--heading-font);
    text-align: center;
}

.thanks-container p {
    font-family: var(--paragraph-font);
    text-align: center;
    color: var(--main-text-color);
    margin-bottom: 30px;
}

.homeBtn {
    font-family: var(--heading-font);
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    padding: .7rem;
    border-radius: 7px;
    text-decoration: none;
}
  
.homeBtn:hover {
    font-family: var(--heading-font);
    background-color: var(--accent3-color);
}

/**********Directory***********/
#directory {
    position: relative;
    padding: 20px;
    background-color: var(--accent1-color);
    border: 1px solid var(--accent2-color);
}
#directory h2 {
    color: var(--accent2-color);
    text-align: center;
    font-size: 2.5rem;
    margin: 0 0 1rem 0;
    font-family: var(--heading-font);
}
.menu {
    padding: 1rem;
    text-align: center;
}

.menu button {
    font-family: var(--heading-font);
	padding: 1rem;
	font-weight: 600;
    background-color: var(--accent3-color);
    color: var(--main-text-color);
    border: none;
    border-radius: 5px;
}

.menu button:hover {
    background-color: var(--primary-color);
    cursor: pointer;

}
.member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    height: 310px;
}
.member h3 {
    font-family: var(--heading-font);
    font-size: 2rem;
}

.member p {
    font-family: var(--paragraph-font);
    font-size: 1.5rem;
}

.member a {
    font-family: var(--paragraph-font);
    font-size: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    align-items: center;
}

.grid section {
    text-align: center;
}

.grid section > * {
    margin: 0.1rem;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "title phone"
        "address1 email"
        "address2 .";
    margin: 0;
    height: auto;
}

.list section > * {
    margin: 0 1rem;
}

.list section img {
    display: none;
}

.list section h3 {
    font-size: 1rem;
    grid-area: title;
}
.list section p:nth-of-type(1) {
    grid-area: address1;
    font-size: 1rem;
}
.list section p:nth-of-type(2) {
    grid-area: address2;
}
.list section p:nth-of-type(3) {
    grid-area: phone;
}
.list section a {
    grid-area: email;
}

.list section:nth-child(even) {
    background-color: #e5e6e7;
}