/* Larger Views ******************************/
@media only screen and (min-width: 768px) {
    #menu {
        display: none;
    }

    #headertitle {
        font-size: 1.5rem;
    }

    .navigation {
        flex-direction: row;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .hero-content h2 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1.3rem;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card {
        margin: 5px;
        box-shadow: 6px 6px 10px #666;
    }
}

/*********Discover Page Large*********/
@media only screen and (min-width: 768px) {
    .picture figure {
        transition: 1s ease;
    }
    .picture figure:hover {
        transform: scale(1.1);
        transition: 1s ease;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 35% 1fr;
        padding: 50px 0;
    }
    .sidebar {
        display: grid;
        grid-template-columns: 1fr;
    }
    .picture {
        align-items: center;
        padding: 10px;
    }
    .picture img {
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    .picture figcaption {
        font-size: 0.8em;
        font-style: italic;
        color: black;
    }

    .style2 h2 {
        font-size: 2rem;
    }

    .style3 .explore-img {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 5px;
    }    
    .facts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .facts h4 {
        font-size: 1.5em;
        font-weight: 700;
        color: var(--accent4-color);
        text-align: center;
    }
    .facts p {
        font-size: 0.8em;
        font-weight: 400;
        text-align: center;
    }
}

/***********Join Page Large*********/
@media only screen and (min-width: 768px) {
    .form-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .form-section legend {
        font-size: 1.6rem;
        text-align: center;
    }

    .memberships {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 600px;
    }
    .memberships h2 {
        text-align: center;
        margin: 0;
    }
    .membership-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }
    .membership {
        display: flex;
        flex-direction: column;
        box-shadow: 0 4px 8px 0 var(--accent2-color);
        border: solid 1px var(--accent2-color);
        border-radius: 5px;
    }
}
