/* Larger Views ******************************/
@media only screen and (min-width: 768px) {
    #menu {
        display: none;
    }

    #headertitle {
        font-size: 1.5rem;
    }

    .navigation {
        flex-direction: row;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .hero-content h2 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1.3rem;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card {
        margin: 5px;
        box-shadow: 6px 6px 10px #666;
    }
}