@media only screen and (min-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
        align-items: center;
    }
    h6 {
        margin-bottom: 0;
        grid-column: 2;
        color: #e7ad99;
    }
}