/********Large View Home Page************/
@media only screen and (min-width:768px) {
    #headertitle h1 {
        font-size: 3rem;
    }
    
    #menu {
        display: none;
    }
    
    .navigation {
        flex-direction: row;
        text-align: center;
    }
    .navigation li {
        display: block;
        flex: 100%;
    }

    .heroTitle h3{
        font-size: 1.75rem;
    }
    .card-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card-grid section:nth-child(1) {
        grid-column: span 2;
 